@page "/editMovie/{id:long}"
@using FilmFlow.Shared.Dto
@inherits BaseComponent

<h3>EditMovie</h3>
<div class="d-flex">
	<div class="d-flex w-25">
		<div class="card m-4 p-0" style="background-color: #ffffff96">
			<img src="@Movie.ImageUrl" class="card-img-top img-fluid" alt="...">
			<div class="card-body">
				<h5 class="card-title">@Movie.Title</h5>
				<ul>
					<li>@Localizer["Category"]: @Movie.Category</li>
					<li>@Localizer["AgeRating"]: @Movie.MinAge</li>
					<li>@Localizer["Language"]: @Movie.Language</li>
				</ul>
				<p class="card-text">@Movie.Description</p>
			</div>
		</div>
	</div>
	<div class="d-block w-75">
		<form method="post">
			<label for="basic-url" class="form-label">Image URL</label>
			<div class="d-flex w-50 input-group mb-3">
				<input type="text" class="form-control" value="@Movie.ImageUrl">
			</div>
			<label for="basic-url" class="form-label">Title</label>
			<div class=" d-flex w-50 input-group mb-3">
				<input type="text" class="form-control" value="@Movie.Title">
			</div>
			<label for="basic-url" class="form-label">Category</label>
			<div class=" d-flex w-50 input-group mb-3">
				<input type="text" class="form-control" value="@Movie.Category">
			</div>
			<label for="basic-url" class="form-label">MinAge</label>
			<div class=" d-flex w-50 input-group mb-3">
				<input type="text" class="form-control" value="@Movie.MinAge">
			</div>
			<label for="basic-url" class="form-label">Language</label>
			<div class=" d-flex w-50 input-group mb-3">
				<input type="text" class="form-control" value="@Movie.Language">
			</div>
			<label for="basic-url" class="form-label">Description</label>
			<div class=" d-flex w-50 input-group mb-3">
				<input type="text" class="form-control" value="@Movie.Description">
			</div>
			
		</form>
	</div>
</div>

@code {
	[Parameter]
	public long id { get; set; }

	private MovieDto? Movie;
	private CinemaShowDto[]? Shows;

	protected override async Task OnInitializedAsync()
	{
		Movie = await AnonymousHttpClient.Client.GetFromJsonAsync<MovieDto>($"/api/Movies/{id}");
		var shows = await AnonymousHttpClient.Client.GetFromJsonAsync<CinemaShowDto[]>($"/api/Movies/{id}/shows");
		if (shows != null) Shows = shows.OrderBy(s => s.Start).ToArray();
	}
}
