@page "/movies"
@using FilmFlow.Shared.Dto
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FilmFlow.Shared
@inject HttpClient Http

<h3>Movies</h3>

@if(Movies != null)
{
 
    <div class="d-flex p-3 row">
    @foreach (MovieDto movie in Movies)
    {
            <div class="card m-4" style="width: 18rem; border: 0px; background-color: #ffffff96; padding: 0px !important;">
                <img src="@movie.ImageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@movie.Title</h5>
                    <ul>
                        <li>Categorie: @movie.Category</li>
                        <li>Leeftijd: @movie.MinAge</li>
                        <li>Taal: @movie.Language</li>
                    </ul
                    <p class="card-text">@movie.Description</p>
                    <a href="movie/@movie.Id" class="btn btn-danger">Meer over deze film</a>
                </div>
            </div>
    }
    </div>
}
   

@code {
    private MovieDto[]? Movies;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            Movies = await Http.GetFromJsonAsync<MovieDto[]>("/api/Movies");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }

}
