@page "/movie/{id}"
@using FilmFlow.Shared.Dto
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using FilmFlow.Shared
@inject NavigationManager NavigationHelper
@using System.Web
@inject HttpClient Http




<div class="d-flex p-3 ">
    <div class="d-block w-25 ">
        <div class="card m-4" style="width: 18rem; border: 0px; background-color: #ffffff96; padding: 0px !important;">
            <img src="@Movies.ImageUrl" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@Movies.Title</h5>
                <ul>
                    <li>Categorie: @Movies.Category</li>
                    <li>Leeftijd: @Movies.MinAge</li>
                    <li>Taal: @Movies.Language</li>
                </ul
                <p class="card-text">@Movies.Description</p>
            </div>
        </div>
    </div>
    <div class="d-block  w-75">
       <div class="d-flex justify-content-center p-3">
            <div class="d-block text-center">
                <h3>opkomende zalen/tijden</h3>
                <div class="d-flex">
                    <div class="card p-3" style="width: 18rem; border: 0px; background-color: #ffffff96;">
                        <div class="card-body">
                            <h5 class="card-title">Zaal 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">28-02-2023 19:40</h6>
                            <p class="card-text">Some quick example text to build on the Zaal 1 and make up the bulk of the card's content.</p>
                            <button class="btn btn-danger">Reverveer nu</button>
                        </div>
                    </div>
                    <div class="card p-3" style="width: 18rem; border: 0px; background-color: #ffffff96;">
                        <div class="card-body">
                            <h5 class="card-title">Zaal 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">28-02-2023 19:40</h6>
                            <p class="card-text">Some quick example text to build on the Zaal 1 and make up the bulk of the card's content.</p>
                            <button class="btn btn-danger">Reverveer nu</button>
                        </div>
                    </div>
                    <div class="card  p-3" style="width: 18rem; border: 0px; background-color: #ffffff96;">
                        <div class="card-body">
                            <h5 class="card-title">Zaal 1</h5>
                            <h6 class="card-subtitle mb-2 text-muted">28-02-2023 19:40</h6>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            <button class="btn btn-danger">Reverveer nu</button>
                        </div>
                    </div>
                </div>
            </div>
        </div 
    </div>
</div>


@code {

    [Parameter]
    public string id { get; set; }

    private MovieDto? Movies;


    protected override async Task OnInitializedAsync()
    {
        try
        {
            Movies = await Http.GetFromJsonAsync<MovieDto>($"/api/Movies/{id}");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
    }
}
