@page "/reservations/{id:long}/tickets"
@using FilmFlow.Shared.Dto;
@using FilmFlow.Shared.Enums;
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication;
@inherits BaseComponent
@attribute [Authorize]
<h3>@Localizer["Tickets"]</h3>

@if (reservation != null && hall != null)
{
	<h5>@reservation.CinemaShow?.Movie?.Title</h5>
	<h6 class="mb-2 text-muted"><strong>@reservation.CinemaShow?.Start.ToShortDateString() @reservation.CinemaShow?.Start.ToShortTimeString() - @reservation.CinemaShow?.End.ToShortTimeString()</strong></h6>
	
	@if(reservation.IsPaid)
	{
		<div class="row">
			@foreach (var reservedSeat in reservation.ReservedSeats)
			{
				@if(reservedSeat.Ticket != null)
				{
					<div class="col m-1">
						<div class="card" style="background-color: #ffffff96; max-width: 600px; width: 18rem;">
							<div class="card-body">
								<h6 class="card-subtitle text-muted"><strong>@(hall.IsThreeDimensional ? "3D" : "")</strong></h6>
								<p class="card-text">@Localizer["Row"] @hall.Rows.Single(hr => hr.Id == reservedSeat.Seat.ParentRowId).RowId, @Localizer["Seat"] @reservedSeat.Seat.SeatNumber</p>
								<div class="d-flex-row">
									<div class="d-flex justify-content-center">
										<img src="@ApiCallUrls.TicketQrByCode(reservedSeat.Ticket.Code)" style="max-width: 250px;" />
									</div>
								</div>
							</div>
						</div>
					</div>
				}
			}			
		</div>
	}
	else
	{
		<h3>@Localizer["ReservationNotPaidYet"]</h3>
		<a href="reservations/@reservation.Id/pay" class="btn btn-danger">@Localizer["PayNow"]</a>
	}
}
else
{
	<h4>@Localizer["Loading"]...</h4>
}

@code {
	[Parameter]
	public long id { get; set; }

	private ReservationDto? reservation;
	private CinemaHallDto? hall;

	protected override async Task OnInitializedAsync()
	{
		try
		{
			reservation = await AuthorizedHttpClient.Client.GetFromJsonAsync<ReservationDto>(ApiCallUrls.ReservationById(id));
			if(reservation != null) {
				hall = await AnonymousHttpClient.Client.GetFromJsonAsync<CinemaHallDto>(ApiCallUrls.CinemaHallById(reservation.CinemaShow!.CinemaHallId));
			}
		}
		catch (AccessTokenNotAvailableException exception)
		{
			exception.Redirect();
		}
	}
}